streamlit==1.23.1
transformers==4.33.2
st-annotated-text==4.0.0
numpy==1.24.2
joblib==1.2.0
torch==2.0.0
sentence-transformers==2.2.2
spacy==3.6.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
scikit-learn==1.2.2
datasets==2.13.0
